    * {
      font-family: 'Poppins', sans-serif;
      box-sizing: border-box;
    }
    body {
      background: #101010;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .card {
      width: 90%;
      max-width: 470px;
      background: linear-gradient(125deg,#00feba,#5b548a);
      color: #fff;
      margin: 0px auto 0;
      border-radius: 20px;
      padding: 40px 35px;
      text-align: center;
    }
    .search {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .search input {
      border: 0;
      outline: 0;
      background: #edfffc;
      color: #555;
      padding: 10px 25px;
      height: 60px;
      border-radius: 30px;
      flex: 1;
      margin-right: 16px;
      font-size: 18px;
    }
    .search button {
      border: 0;
      outline: 0;
      background: #edfffc;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .search button img {
      width: 18px;
      height: 18px;
      align-self: center;
    }
    .Weather-icon {
      width: 170px;
      margin-top: 30px;
    }
    .weather h1 {
      font-size: 80px;
      font-weight: 500;
      margin-bottom: 0;
    }
    .weather h2 {
      font-size: 45px;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 5px;
      text-align: center;
    }
    .weather-meta {
      text-align: center;
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 20px;
    }
    .weather-meta p {
      margin: 0;
      display: inline-block;
    }
    #cityTime {
      margin-right: 6px;
      font-weight: 400;
    }
    .details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      margin-top: 50px;
    }
    .col {
      display: flex;
      align-items: center;
      text-align: left;
    }
    .col img {
      width: 40px;
      margin-right: 10px;
    }
    .humidity, .wind {
      font-size: 28px;
      margin-top: 5px;
      font-weight: 500;
    }
    .error-message {
      margin-top: 20px;
      color: #ff9999;
      background: rgba(255, 0, 0, 0.2);
      padding: 10px;
      border-radius: 10px;
      font-size: 14px;
    }
    .hidden {
      display: none !important;
    }